# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.venv/
venv/
env/

# DATASETS (CRITICAL: DO NOT REMOVE THESE)
dataset/
datasets/
ALL_IDB/
C-NMC/
*.zip
*.7z

# Allow the assets folder for README visuals
!assets/
!assets/**

# Ignore model weights and logs
*.pth
checkpoints/
logs/
runs/

# Ignore local OS/IDE files
.vscode/
.idea/
.DS_Store